pipeline/permission.json
{
	"name": "permission",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/xin.wang@databricks.com/succeed"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference",
					"parameters": {
						"workspace_url": {
							"value": "@pipeline().globalParameters.westus2",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "job_id",
					"value": {
						"value": "@first(split(variables('intermidiate'),'/'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "intermidiate",
					"value": {
						"value": "@substring(activity('Notebook1').output.runPageUrl,76,20)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"job_id": {
				"type": "String"
			},
			"intermidiate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}