pipeline/permission.json
{
	"name": "permission",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/xin.wang@databricks.com/succeed"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference",
					"parameters": {
						"workspace_url": {
							"value": "@pipeline().globalParameters.westus2",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "job_id",
					"value": {
						"value": "@first(split(activity('Notebook1').output.runPageUrl,'/'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get job ID",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://adb-6935536957980197.17.azuredatabricks.net/api/2.0/permission@variables('job_id')",
						"type": "Expression"
					},
					"method": "PATCH",
					"body": {
						"access_control_list": [
							{
								"user_name": "jsmith@example.com",
								"permission_level": "CAN_VIEW"
							}
						]
					},
					"authentication": {
						"type": "Basic",
						"username": "token"
					}
				}
			},
			{
				"name": "Set Permission",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get job ID",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://adb-6935536957980197.17.azuredatabricks.net/api/2.0/permission@variables('job_id')",
						"type": "Expression"
					},
					"method": "PATCH",
					"body": {
						"access_control_list": [
							{
								"user_name": "jsmith@example.com",
								"permission_level": "CAN_VIEW"
							}
						]
					},
					"authentication": {
						"type": "Basic",
						"username": "token"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "intermidiate",
					"value": {
						"value": "@substring(activity('Notebook1').output.runPageUrl,95,20)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"job_id": {
				"type": "String"
			},
			"intermidiate": {
				"type": "String"
			}
		},
		"annotations": []
	}
}